<mat-card>
    <mat-card-header>
        <h1>User List</h1>
        <button style="margin-left: 70%;" mat-raised-button color="primary">Add user</button>
    </mat-card-header>

    <mat-card-content>
        <table mat-table [dataSource]="_dataSource" matSort>

            <!-- Username -->
            <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
                <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
            </ng-container>

            <!-- Name -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Email -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let element">{{ element.email }}</td>
            </ng-container>

            <!-- Phone -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
            </ng-container>

            <!-- Status -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let element">{{ element.statusName }}</td>
            </ng-container>

            <!-- Role -->
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
                <td mat-cell *matCellDef="let element">{{ element.role }}</td>
            </ng-container>

            <!-- Action -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary">Edit</button>
                <button mat-raised-button color="accent">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="_displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: _displayColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>
