<mat-card>
    <mat-card-header>
      <h1>Update password</h1>
    </mat-card-header>
    
    <div class="otp-container">
        <div class="otp-text">
            <span>OTP</span>
        </div>
        <div class="otp-input-text">
            <!-- ngModel la lay du lieu tu file confirmootp.ts -->
            <input id="otp-input-0" class="otp-input" type="text" maxlength="1"
                [(ngModel)]="_otp[0]" (keyup)="onKeyUp($event, 0)"/>
            <input id="otp-input-1" class="otp-input" type="text" maxlength="1"
                    [(ngModel)]="_otp[1]" (keyup)="onKeyUp($event, 1)">
            <input id="otp-input-2" class="otp-input" type="text" maxlength="1"
                    [(ngModel)]="_otp[2]" (keyup)="onKeyUp($event, 2)">
            <input id="otp-input-3" class="otp-input" type="text" maxlength="1"
                    [(ngModel)]="_otp[3]" (keyup)="onKeyUp($event, 3)">
            <input id="otp-input-4" class="otp-input" type="text" maxlength="1"
                    [(ngModel)]="_otp[4]" (keyup)="onKeyUp($event, 4)">
            <input id="otp-input-5" class="otp-input" type="text" maxlength="1"
                    [(ngModel)]="_otp[5]" (keyup)="onKeyUp($event, 5)">
        </div>
        
    </div>
    <form [formGroup]="_resetForm" (ngSubmit)="proceedChangedPass()">
    

        <mat-card-content>
        <!-- PASSWORD INPUT -->
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>New password</mat-label>
            <input matInput type="password" formControlName="password" />
        </mat-form-field>

        </mat-card-content>

        <mat-card-actions>
        <div class="div-50">
            <button type="submit" mat-raised-button color="primary" [disabled]="_resetForm.invalid">
            Update
            </button>
        </div>
        <div class="div-50">
            <a routerLink="/login" mat-raised-button color="accent">Cancel</a>
        </div>
        </mat-card-actions>
    </form>
</mat-card>

