mat-card{
    margin: 2%;
    text-align: left;
    width: 90%;
    margin-left: 5%;
    border: 1px solid #ccc;
}

.mat-mdc-raised-button{
    width: auto;
}

.table-header{
    background-color: yellowgreen;
    color: white;
}


/* ----------------------- Use for popup ---------------------- */
.overlay{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0,4);
    backdrop-filter: blur(5px); /* Lam mo nen phia sau*/
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup{
    color: #ffffff;
    background-color: rgb(64, 58, 58);
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4pxx 15px rgba(0,0,0,0,0.2);
    text-align: center;
    width: 320px;
    animation: fadeIn 0.2s ease-in-out;
}

.popup h3{
    color: rgb(255, 230, 0);
    margin-bottom: 10px;
}

.popup-buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

@keyframes fadeIn{
    from{opacity: 0; transform: scale(0.95);}
    to{opacity: 1; transform: scale(1);}
}

/* -------------------------------------------------- */
